.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    border-radius: 4px;
    padding: 8px 22px;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: var(--font-family);
    cursor: pointer;
    border: 1px solid transparent;
    background-color: var(--primary-button);
    color: var(--white);

    +.wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon+.title,
.title+.icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}