.wrapper {
    width: 100%;
    min-height: 71rem;

    .container {
        min-height: inherit;
        display: flex;

        .sidebar {
            width: 24.5rem;
        }

        .content {
            width: 70rem;
            margin-left: 23rem;
        }

        .suggestions {
            flex: 1;
        }
    }
}